apiVersion: v1
kind: Secret
metadata:
  name: csi-wekafs-api-secret
  namespace: CSI_PLUGIN_NAMESPACE
type: Opaque
data:
  # username to connect to the cluster API (base64-encoded)
  username: CSI_SYSTEM_USERNAME_ENCODED
  # password to connect to the cluster API (base64-encoded)
  password: CSI_SYSTEM_PASSWORD_ENCODED
  # organization to connect to (default Root, base64-encoded)
  organization: CSI_SYSTEM_ORGANIZATION_ENCODED
  # comma-separated list of cluster management endpoints in form of <IP:port> (base64-encoded)
  # It is recommended to configure at least 2 management endpoints (cluster backend nodes), or a load-balancer if used
  # e.g. 172.31.15.113:14000,172.31.12.91:14000
  endpoints: CSI_ENDPOINTS_ENCODED
  scheme: CSI_HTTP_SCHEME_ENCODED
